body{
    background: lightyellow;
}

.masterbox{
    display: flex;
    flex-direction: column;
    height:200vh;
    width: 100%;
}
.box-1{
    display: flex;
    flex-direction:row;
    height: 65px;
    border: 1px solid black;
}
.navigationbar{
    width:100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}
.navelements{
    display: flex;
    justify-content:space-around;
    width:30%;
    height:65px;
    align-items: center;
    list-style: none;
}
.navelelement-1:hover{
    font-size: 23px;
}

a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.logo{
    max-width: 150%;
    max-height: 150%;
}.logolabel{
    display: flex;
    align-items: center;
    height:65px;
    width:25%;
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
.mainimg{
    height: 75%;
    width: 50%;
}
.box-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.paracontent{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
.paracontent-1{
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
hr{
    width:100%;
    color: black;
}
.box-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.branches{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content:space-between;
    width:100%;
    color:rgb(0, 0, 0);
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;

}
.branchboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.branchboxesimg{
    width: 200px;
    height: 170px;
}
.paracontent-2{
    color:rgb(0, 0, 0);
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width:80%;
}
.box-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.socialelements{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    width:320px;
    margin-right:35px;
}
.socialelementssize{
    max-width:150%;
    max-height:150%;
    margin: 20px 20px 20px 20px;
}





